#Ignore all testing

#Mis
__pycache__
.pytest_cache
*.json
*_json
*_json.config
test_large_file.bin
# All Directories/files home/aipass level
.aipass
.archive
.backup
.bash_history
.bash_history-02795.tmp
.bash_history-13065.tmp
.bash_logout
.bashrc
.branch_meta.json
.cache
.cached_template
.claude
.claude-code-docs 
.claude.json
.claude.json.backup
.claude.json.backup.1771030714898
.claude/plugins/known_marketplaces.json
.codex
.commands.json
.config
.dotnet
.env
.gemini
.gnupg
.idlerc
.lesshst
.local
.mcp.json
.migrations.json
.npm
.npm-global
.npmrc
.pki
.profile
.python_history
.rustup
.serena
.ssh
.sudo_as_admin_successful
.tmux.conf
.var
.venv
.vscode
.wget-hsts
*.tmp
*.yml
*#@comments
*bin
*claude.json.backup.
*km
*.local
crash-logs
DASHBOARD.local.json
Desktop
Downloads
dropbox
logs
mcp_servers
MEMORY_BANK
Music
notepad.md
Pictures
pytest.ini
sandbox.img
speakeasy(disabled)
system_log
Videos

# Branch Template exceptions 

#!**/aipass_core/cortex/templates/branch_template/.archive
#!**/aipass_core/cortex/templates/branch_template/.backup
#!/aipass_core/cortex/templates/branch_template/{{BRANCH}}_json
#!**/aipass_core/cortex/templates/branch_template/ai_mail.local
#!**/aipass_core/cortex/templates/branch_template/dropbox
#!**/aipass_core/cortex/templates/branch_template/logs
#!**/aipass_core/cortex/templates/branch_template/.migrations.json

#Trying to track these files

#!**/aipass_os/dev_central/git_repo/git_repo_json/git_cheatsheet.json
#!**/.config/Code/User/

# Extension added files

.expo
.app-store
*subprocess
.chroma
.sqlite3
dev.local.md

*.log
*.log.1
*.db
*.keep
*.sql
.service

!pyrightconfig.json
!Nexus/config/profile.json
!.claude
.claude/chrome/chrome-native-host
projects/external_repos
