#Ignore all testing

#Mis
__pycache__
.pytest_cache
*.json
*_json
*_json.config
test_large_file.bin
# All Directories/files home/aipass level

.app-store
.archive
.backup
.bash_history
.bash_history-02795.tmp
.bash_history-13065.tmp
.bash_logout
.bashrc
.branch_meta.json
.cache
.cached_template
.chroma
.claude
.claude-code-docs 
.claude.json
.claude/chrome/chrome-native-host
.claude/plugins/known_marketplaces.json
.codex
.commands.json
.config
.dotnet
.env
.expo
.gemini
.gnupg
.idlerc
.lesshst
.local
.mcp.json
.migrations.json
.npm
.npm-global
.npmrc
.pki
.profile
.python_history
.rustup
.serena
.service
.sqlite3
.ssh
.sudo_as_admin_successful
.tmux.conf
.var
.venv
.wget-hsts
*.db
*.keep
*.local
*.log
*.log.1
*.sql
*.tmp
*.yml
*#@comments
*bin
*claude.json.backup.
*km
*subprocess
crash-logs
DASHBOARD.local.json
Desktop
dev.local.md
Downloads
dropbox
logs
Music
notepad.md
Pictures
projects/external_repos
pytest.ini
sandbox.img
speakeasy(disabled)
system_log
Videos

!.claude
!Nexus/config/profile.json
!pyrightconfig.json

.vscode/artifacts/extensions_backup.txt
